<html>
  <body>
   
<h2 class="head" style="font-size:300%;" >Budget</h2>
<p>This is my 2018 budget plan with the stipend of R2000 every Month. </p>
<hr />
<div class="container">


<table style="width:20%" align="center">
<caption style="background-color:rgb(66, 51, 0);">My monthly Expenses</caption>
  <tr>
    <th>Month</th>
    <th class="td2">Savings</th>
  </tr>
  <tr>
    <td class="td1">Transport </td>
    <td>R500</td>
  </tr>
  <tr>
    <td >Food </td>
    <td class="td2">R300</td>
  </tr>
<tr>
  <td class="td1">Clothes </td>
  <td>R600</td>
</tr>
<tr>
  <td>Data </td>
    <td class="td2">300</td>
</tr>
<tr>
  <td class="td1">Total :</td>
  <td>R1700</td>
</tr>
<tr>
  <td>Savings :</td>
  <td class="td2">R300</td>
</tr>
</table>
</div>
</body>
<hr />
</html>

